@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--light);
}
body {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    width: 25rem;
    height: auto;
    background-color: var(--dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
    border-radius: 0.8rem;

    width: 80%;
    height: 70%;
    padding: 20px;
    margin: 30px;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.logo img{
    height: 3rem;
    filter: invert(100%);
    margin-bottom: 0.5rem;
}

#Circui{
    display: block;
}

.circuitname input {
    background-color: inherit;
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857; 
    padding: 8px 6px;
    height: 36px;
    width: 15rem;
}
.circuitname input:hover{
    background-color: rgb(235, 236, 240);
    transition-duration: 0.4s;
}
.circuitname input:focus{
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
}

.chexBoxs {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    gap: 10px 50px;
    margin-top: 1rem;
    /* background-color: red; */
}
.chexBoxs .chexbox {
    display: flex;
}
.chexBoxs .chexbox label {
    margin-left: 6px;
    font-size: 1rem;
}

.checkbox-wrapper-31:hover .check {
stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
position: relative;
display: inline-block;
width: 25px;
height: 25px;
}
.checkbox-wrapper-31 .background {
fill: #a1ffee40;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 2px;
stroke-dashoffset: 100;
stroke-dasharray: 100;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .check {
fill: none;
stroke: #fff;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 2px;
stroke-dashoffset: 22;
stroke-dasharray: 22;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type=checkbox] {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
margin: 0;
opacity: 0;
-appearance: none;
-webkit-appearance: none;
}
.checkbox-wrapper-31 input[type=checkbox]:hover {
cursor: pointer;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
fill: #0E0D6B;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
stroke-dashoffset: 0;
}

.button-35 {
    align-items: center;
    background-color: inherit;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: var(--light);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin-top: 1rem;
    outline: none;
    padding: 10px 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 1rem;
}

.button-35:hover {
  box-shadow: var(--light) 0 0 0 2px, transparent 0 0 0 0;
}

.blockReturnPage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blockReturnPage button{
    background-color: var(--dark);
    padding: 0.4rem;
    border: 2px var(--light-primary) solid; 
    border-radius: 0.5rem;
    cursor: pointer;
}
.blockReturnPage img{
    height: 2rem;
    filter: invert(100%);
}